header{
    background: #3a7bbd;
    color: #fff;
    max-height: 250px;
    min-height: 100px;
}
main{
    background: #fff;
    margin-top: 100px;
}
article{
    background: #fff;
    margin-top: 100px;
}
.color1{
    background: #233f5b;
    color: #fff;
}
aside{
    background: #c0392b;
    color: #fff;
}
footer{
    background: #3a7bbd;
    color: #fff;
    margin-top:50px;
    width:100%;
    height:100px;
    position: fixed;
    bottom: 0;
    border-top: 1px;   
}

